body {
  background-color: #0b0b0b;
  color: #00ff88;
  font-family: monospace;
}

.container {
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.subtitle {
  text-align: center;
  color: #888;
}

.post {
  border: 1px solid #00ff88;
  padding: 15px;
  margin-top: 20px;
  transition: 0.3s;
}

.post:hover {
  background-color: #001a10;
}
